.App {
  font-family: sans-serif;
  text-align: center;
  height: 10000px;
}

.btn-item {
  margin: 30px 0;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.btn-intro {
  margin-top: 1em;
  color: #666;
}